<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Game Details</title>
</head>

<body class="text-light">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card bg-light text-light shadow-lg p-3" style="max-width: 600px; width: 100%; border-radius: 15px;">
           
            <div class="ratio ratio-16x9 rounded overflow-hidden">
                <iframe class="rounded" src="https://www.youtube.com/embed/<%= %>"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="card-body text-center">
                <h3 class="card-title fw-bold"><%= game. name %></h1>
                <p class="mt-3 fs-5">⭐ Ratings: <strong><%= game. gfq_rating %></strong></p>

                <a href="<%= game. store_url %>" class="btn btn-warning fw-bold shadow-sm px-4 py-2 mt-3" target="_blank">
                    Buy Now
                </a>
            </div>

        </div>
    </div>

</body>

</html>