<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <title>Home</title>
</head>

<body
  class="indexbg d-flex flex-column justify-content-center align-items-start px-5 text-light fs-1 gap-5  gap-5 fs-1 text-uppercase m-3 container-fluid">
  <h1 class="fs-2">Ready for playing games on Game Grid?</h1>
  <h2>Have Fun!</h2>
  <a href="/games" class="btn btn-lg btn-sm btn-light rounded-3">Games</a>
</body>

</html>